
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   
  }



.activityType {
    overflow: scroll;
    height: 600px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    max-width: 90%;
    border: 3px solid rgb(151, 134, 134);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px;
    }

.activity-type-title {
  margin-bottom: 5px;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  text-transform: uppercase;
  
  
}

h2{
  font-family: 'Kumbh Sans', sans-serif;
  color: #FF8C00;
}
    

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* border: 3px solid rgb(102, 90, 90); */
  }

.searchActivityType {
  margin-top: 30px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  max-width: 90%;
  border: 3px solid rgb(151, 134, 134);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  font-family: 'Trebuchet MS', sans-serif;
  }



  .searchGrid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: center;
    /* background-color: red; */
  }

  .emptySearchText{
    /* 1rem = 16px given that root html size hasnt been changed*/
    font-size: 1rem;
    /* align-items: center; */
    /* justify-self: center; */
    
  }

.searchActivityNode{
    flex: 1;
    border: 4px double rgb(20, 20, 20);
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    max-width: 28%;
    position: relative;
    box-sizing: border-box;
    background-color: #d8bbff;
    box-shadow: 0 0 7px 7px #9ffcdfac;
  }

  @media(max-width: 1073px) {
    .searchActivityNode {
     flex-basis: 33.33%;
   }
 }
 @media(max-width: 815px) {
   .searchActivityNode {
     flex-basis: 50%;
   }
 }
 @media(max-width: 555px) {
   .searchActivityNode {
     flex-basis: 100%;
   }
 }

.activityNode {
    flex: 1;
    border: 4px double rgb(20, 20, 20);
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    max-width: 28%;
    box-sizing: border-box;
    /* background-color: #FDC830; */
    background-color: #d8bbff;
    box-shadow: 0 0 7px 7px #9ffcdfac;
}
@media(max-width: 1073px) {
    .activityNode {
     flex-basis: 33.33%;
   }
 }
 @media(max-width: 815px) {
   .activityNode {
     flex-basis: 50%;
   }
 }
 @media(max-width: 555px) {
   .activityNode {
     flex-basis: 100%;
   }
 }

.activity-type-title{
    text-align: center;
}

body {
    /* background-image: linear-gradient(to top, #40E0D0 0%, #FF8C00 50%, #FF0080 100%); */
    background-image: linear-gradient(to bottom,#70e1f5, #ffd194);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    font-weight: 300;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    color:#3d2929;
    background-color:rgb(124, 226, 226);    
    text-align: center;
    transition: all 0.2s;
    max-width: 8rem;
    margin-top: 1rem;
}

.btn:hover
{
background-color:#eee380;
}

.app{
  display: flex;
  justify-content:left;
  background-image:url("./images/london2.png");
  opacity: 0.9;
  height: 350px;
  margin-bottom: 2rem;
  
}

/* .londonImage{
  padding-top: 5rem;
  padding-left: 25rem;
  width: 100%;
} */

/* CSS for sign in form */


input[type="text"] ,
input[type="password"] {
  height: 25px; 
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(233, 216, 159);
  border: rgb(0, 0, 0);
  border-radius: 2em;
  color: #5e4d3a;
  padding: 10px 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="submit"]:hover {
  background: rgb(106, 187, 183);
  border: 1px solid black;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-top: 80px;
  margin-left: 20px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  position: sticky;
  color: black;
}
.title{
  border: 2px solid #baebff;
}

.list-container {
  display: flex;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  border: 1px solid #baebff;
  background-color: #baebff;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  
}
.list {
  /* margin-top: 1rem; */
  list-style: none;
  background: #d3f5ff3f;
  height: 110%;
  display: flex;
  justify-content: center;
  /* align-items: space-between; */
  justify-content: space-around;
  position: relative;
  z-index: 999;
 
}

.items {
  margin-top: 13px;
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  /* color: #dae841; */
  cursor: pointer;
}

.JavaChapTitle{

  /* text-transform: uppercase; */
  font-size: 23px;
  font-family: 'Satisfy', cursive;
  /* font-style: italic; */
  background: -webkit-linear-gradient(#FF0080 30%, #FF8C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  line-height: 25px;
  border: 1px solid rgb(220, 172, 16);
  border-radius: 900px 900px 250px 250px;

  
  /* border-collapse: separate;
  border-spacing: 15px; */
  
}


a{
  color:#FF8C00;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}



a:hover{
  color: blueviolet;
  transition: all 0.2s ease;
}

.NavBtn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: rgb(212, 174, 174);
  font-size: 18px;
}

@media screen and (max-width: 750px){
  .list {
      flex-direction: column;
      height: auto;
  }
  .items:nth-child(1){
      border-top: 1px solid rgba(163, 184, 101, 0.555);
      margin-top: 50px;
  }
  .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
  }
  .NavBtn {
      display: block;
  }
}

.footer{
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #d3f5ff65;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #FF8C00;
  text-align: left;

}

.names{
  width: 95%;
  display: flex;
  justify-content: right;
  color: #727888ec;
}